.onboarding {
    background: rgb(20, 26, 42) no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar-background {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.75rem;
}